<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a id="aemail" aria-label="Send email" href="mailto:kevin.ryan7@gmail.com"><i class="icon fas fa-envelope"></i></a>
        <a id="alinkedin" aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/kevinryan7/"><i class="icon fab fa-linkedin-square" aria-hidden="true"></i></a>
        <a id="agoogle" aria-label="My Google Play Developer Page" target="_blank" href="https://play.google.com/store/apps/dev?id=6060141727775614332"><i class="icon fab fa-google-play" aria-hidden="true"></i></a>
        <a id="amelon" aria-label="My Game Buisness" target="_blank" href="http://melonstudios.app"><i class="icon fas fa-user-astronaut" aria-hidden="true"></i></a>
        <a id="aquantshift" aria-label="My ML Buisness" target="_blank" href="https://quantshift.io"><i class="icon fas fa-user-tie" aria-hidden="true"></i></a>
      </div>
      <div class="header-text">
        <p style="display:inline" class="pholder">&nbsp;</p>
        <p style="display:none" class="pemail">My Email</p>
        <p style="display:none" class="plinkedin">My LinkedIn</p>
        <p style="display:none" class="pgoogle">My Games</p>
        <p style="display:none" class="pmelon">My Games Website</p>
        <p style="display:none" class="pquantshift">My ML Company</p>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
