<div class="user-details">
  <h1>My Hobbies</h1>
  <p>Over the years, I've turned my hobbies into small buisnesses.  They have served as a fun way to keep my skills sharp and learn new tech along the way.</p>
</div>
  <div class="user">
    <div style="position:relative" class="tech">
      <h2>Melon Studios</h2>
      <img src="/assets/img/melonheaderimage.png" style="max-height:128px;max-width:80vw"></img>
      <p style="margin-bottom:84px">I've been developing mobile games for both Android and iOS for <b>8+ years</b>.  My games and apps have reached  <b>1,000,000+</b> users from all over the world.</p>
      <div style="position:absolute; bottom:0; left:0; right:0" class="container" align="center"><a class="melon_button" href="http://melonstudios.app" target="_blank" rel="nofollow noopener">Website</a>
      </div>
    </div>
    <div style="position:relative" class="tech">
      <h2>QuantShift</h2>
      <object data="/assets/img/pwaicon.svg" type="image/svg+xml" width="128"></object>
      <p style="margin-bottom:84px">I <b>co-founded</b> a buisness that provides day traders with <b>ML-powered</b> quantitative analytics for stock trading.</p>
      <div style="position:absolute; bottom:0; left:0; right:0" class="container" align="center"><a class="qs_button" href="https://quantshift.io" target="_blank" rel="nofollow noopener">Website</a>
      </div>
    </div>
  </div>
</div>
