<div class="user-details">
  <h1>My Education <br> and Publications</h1>
  <p>I have a <b>Ph.D. in Aerospace Engineering </b> from the University of Maryland.  Below are my publications from both academia and my professional work experience.</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Publications</h2>

<table style="width:100%; margin-left:auto; margin-right:auto; padding-right: 80px">
  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>A Gaussian Process Modeling Approach for Fast Robust Design with Uncertain Inputs.</b> <br>June 2018.<br> ASME TurboExpo</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="https://asmedigitalcollection.asme.org/GT/proceedings-abstract/GT2018/51135/V07AT32A012/272518" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>An Intelligent Sampling Framework for Multi-Objective Optimization in High-Dimensional Design Space.</b> <br>January 2018.<br> AIAA SciTech Forum</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="https://arc.aiaa.org/doi/abs/10.2514/6.2018-0912" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Bayesian Multi-Source Modeling with Legacy Data.</b> <br>January 2018.<br> AIAA SciTech Forum</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="https://arc.aiaa.org/doi/abs/10.2514/6.2018-1663" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Heteroskedastic Gaussian Process Meta-Models for Improved Predictive Uncertainties.</b> <br>May 2017.<br> Proceedings of ASME Verification and Validation Symposium</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%); pointer-events: none;" class="paper_button" href="" disabled rel="nofollow noopener"> &nbsp;N/A&nbsp; </a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Predictive Analytics with an Advanced Bayesian Modeling Framework.</b> <br>April 2017.<br> MODSIM World Conference</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://www.modsimworld.org/papers/2017/Predictive_analytics_with_an_advanced_Bayesian_modeling_framework.pdf" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Comparison of Robust Optimization Methods Applied to Hypersonic Vehicle Design.</b> <br>February 2015.<br> AIAA Journal of Aircraft</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://arc.aiaa.org/doi/abs/10.2514/1.C032986" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Robust Multi-Objective Optimization of Hypersonic Vehicles Under Asymmetric Roughness-Induced Boundary-Layer Transition.</b> <br>May 2014.<br> Ph.D. Dissertation</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://drum.lib.umd.edu/handle/1903/15229" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>A Multi-Objective Post-Optimality Data Handling Approach to Robust Optimization.</b> <br>January 2014.<br> AIAA Multidisciplinary Design Optimization Conference</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://arc.aiaa.org/doi/pdf/10.2514/6.2014-0803" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Comparison of Robust Optimization Methods Applied to Hypersonic Vehicle Design.</b> <br>August 2013.<br> AIAA Modeling and Simulation Technologies (MST) Conference</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://arc.aiaa.org/doi/pdf/10.2514/6.2013-4680" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Multi-Objective Optimization of Hypersonic Vehicles under Asymmetric Boundary-Layer Conditions.</b> <br>September 2012.<br> AIAA/3AF International Space Planes and Hypersonic Systems and Technologies Conference</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://arc.aiaa.org/doi/pdf/10.2514/6.2012-5826" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Trajectory Optimization Studies of Long Range Morphing Projectiles.</b> <br>August 2012.<br> AIAA Atmospheric Flight Mechanics Conference</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="http://arc.aiaa.org/doi/pdf/10.2514/6.2012-4862" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>

  <tr style = "height:15px" class="spacer"></tr>

  <tr style="height:75px;">
    <td style="text-align:left">
      <p style="margin:0px"><b>Trajectory Optimization and Aerodynamic Modeling of Long Range Morphing Projectiles
.</b> <br>December 2011.<br> M.S. Thesis</p>
    </td>
    <td style="text-align:left"><div style="position:relative;" class="container"><a style="position:absolute; top:50%; transform:translateY(-50%)" class="paper_button" href="https://drum.lib.umd.edu/handle/1903/12472" target="_blank" rel="nofollow noopener">Paper</a></div></td>
  </tr>
</table>
  </div>
</div>
