<div class="user-details">
  <h1>My Career</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Scopely</h2>
    <img src="https://play-lh.googleusercontent.com/PUcy1epJOD2H7OGC03CBmFNCQ0mEXVsTVua30ZhI8_XhSxcXVpD49kN9WvtgjtKWPWw=s188-rw" height="128">
    <p>As Director of Analytics for <b>Marvel Strike Force</b>, I lead the analytics and data science function covering all aspects of <b>product analytics</b> — from player behavior and engagement to monetization and experimentation.</p>
  </div>
  <div class="tech">
    <h2>Chess.com</h2>
    <img src="https://play-lh.googleusercontent.com/a7R5nyeaX8lIEWdBOxjlvbyq9LcFwh3XMvNtBPEKR3LPGgdvgGrec4sJwn8tUaaSkw=s512-rw" height="128">
    <p>I drive the <b>strategy and vision</b> for Data Analytics across all Chess.com properties. My team serves all the reporting, analytics, and experimentation needs for the company.</p>
  </div>
  <div class="tech">
    <h2>Zynga</h2>
    <img src="https://www.zynga.com/core/assets/zynga/assets/images/logo.png?v=1" height="128">
    <p>I <b>manage</b> a team of 10 Data Scientists, Analysts, and Managers. We build data pipelines, <b>analytics</b> reports, dashboards, predictive models, you name it!</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>GE</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/General_Electric_logo.svg" height="128">
    <p>I researched and developed state-of-the-art <b>statistical learning</b> methods for GE's multi-billion dollar businesses.</p>
  </div>
  <div class="tech">
    <h2>Government</h2>
    <img src="https://www.cia.gov/static/57d5b076917927af48aebdf5e4838124/c948c/cia-seal-2661.webp" height="128">
    <p>As part of the intelligence community, I provided <b>technical analyses</b> and assessments for Senior Policy Makers and the <b>President</b>.</p>
  </div>
</div>