<div class="user-details">
  <h1>My Career</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Chess.com</h2>
    <img src="https://play-lh.googleusercontent.com/a7R5nyeaX8lIEWdBOxjlvbyq9LcFwh3XMvNtBPEKR3LPGgdvgGrec4sJwn8tUaaSkw=s512-rw" height="128"></img>
    <p>I drive the <b>strategy and vision</b> for Data Analytics across all Chess.com properties. My team serves all the reporting, analytics, and experimentation needs for the comapny.</p>
  </div>
  <div class="tech">
    <h2>Zynga</h2>
    <img src="https://www.zynga.com/core/assets/zynga/assets/images/logo.png?v=1" height="128"></img>
    <p>I <b>manage</b> a team of 10 Data Scientists, Analysts, and Managers.  We build data pipelines, <b>analytics</b> reports, dashboards, predictive models, you name it!</p>
  </div>
  <div class="tech">
    <h2>GE</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/General_Electric_logo.svg/200px-General_Electric_logo.svg.png" height ="128"></img>
          
    <p>I researched and developed state-of-the-art <b>statistical learning</b> methods for GE's multi-billion dollar businesses.</p>
  </div>
  <div class="tech">
    <h2>Government</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Seal_of_the_Central_Intelligence_Agency.svg/256px-Seal_of_the_Central_Intelligence_Agency.svg.png?20210806142257" height = "128"></img>
    <p>As part of the intelligence community, I provided <b>technical analyses</b> and assessments for Senior Policy Makers and the <b>President</b>.</p>
  </div>
</div>
